
.corporate-cards .content-wrapper .card {
    border: solid 1px black;
    margin: 10px 20px;
}

.corporate-cards td.userImageCell {
    width: 96px !important;
}

.corporate-cards .card .card-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #19467a;
    border: 0px !important;
    height: 42px;
}

.corporate-cards textarea {
    margin: 10px 20px;
}

.corporate-cards .dropdown-label {
    font-size: 12px;
}

.corporate-cards input,
.corporate-cards select {
    margin-left: auto;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    color: black;
}

.corporate-cards select {
    color: black;
    font-size: 12px;
}

.corporate-cards .input-group-text {
    height: 30px;
    width: 40px;
    border-radius: 0px;
}

.corporate-cards .status {
    background-color: #18c968;
    width: 100%;
}

.corporate-cards .btn-status {
    color: white !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.corporate-cards .information-txt {
    font-size: 14px;
    font-weight: 500;
    padding-left: 22px !important;
}

.corporate-cards .btn-link {
    font-weight: 500 !important;
    font-size: 15px !important;
    text-decoration: underline;
}

.corporate-cards td b {
    font-size: 14px;
    text-align: right;
}

.corporate-cards .table {
    margin-bottom: 0px !important;
}

.corporate-cards td .btn {
    padding: 0 9px !important;
}

.corporate-cards .box {
    display: flex;
    margin-bottom: 10px;
}

.corporate-cards label.box-heading {
    /* width: 150px; */
    display: flex;
    align-items: center;
    font-size: 15px;

    margin-left: 0;
    margin-right: auto;
}

.corporate-cards .box-input {
    width: 100%;
    display: flex;
}

.corporate-cards .box-icon {
    width: 20px;
    height: 100%;
    background-color: gray;
}

.corporate-cards td .btn-link {
    font-size: 14px !important;
    text-decoration: none;
}

.corporate-cards .dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.corporate-cards .dropdown .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    z-index: 222;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    overflow-y: scroll;
}

.corporate-cards .dropdown .dropdown-option {
    display: block;
    padding: 4px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.corporate-cards .dropdown .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
}

.corporate-cards .dropdown .dropdown-label:before {
    content: "";
    float: right;
}

.corporate-cards .dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
    overflow-x: hidden;
    overflow-y: hidden;
}

.corporate-cards .dropdown-list a {
    margin-left: 17px;
}

.corporate-cards .dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    display: flex;
    text-decoration: none;
    float: left;
    width: 100%;
    transition-delay: 0.2s;
    margin: 0px;
}

.corporate-cards .dropdown.on .dropdown-label:before {
    content: "";
}

.corporate-cards .dropdown [type="checkbox"] {
    position: relative;
    top: -4px;
    margin-right: 4px;
    margin-left: 0px !important;
}

.corporate-cards #get_otp {
    color: white;
    position: absolute;
    margin-top: -43px;
    margin-left: 147px;

    height: 33px;
    background-color: #2e3092;
}

.corporate-cards #verifyotp .a {
    align-items: center;
    color: blue;
    color: white;
    font-size: 16px;
    position: absolute;
    margin-top: -13px;
    margin-left: -75px;
    border-radius: 5px;
    padding: 2px 19px;
    /* height: 33px; */
    background-color: #2e3092;
}

.corporate-cards .contactsubmitbtn4 {
    color: white;
    position: absolute;
    margin-top: -43px;
    margin-left: 380px;
    width: 105px;
    font-size: 17px;
    height: 33px;
    background-color: #2e3092;
}

.corporate-cards .btn-primary {
    color: #fff;
    background-color: #2e3092;
    width: 110px;
    border-color: #2e3092;
}

.corporate-cards #profile_img {
    margin-right: -48px !important;
}

.corporate-cards select option {
    width: 250px !important;
    height: 10px !important;
}

.corporate-cards .bootstrap-select.btn-group .dropdown-menu.open {
    width: 250px !important;
    overflow: auto !important;
    background-color: red !important;
}

.corporate-cards .btn-new {
    background-color: #626f7c !important;
}

.corporate-cards .select-hidden {
    visibility: hidden;
    padding-right: 10px;
}

.corporate-cards .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    flex: 1;
    color: black;
}

.corporate-cards .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #ced4da;
    padding: 2px 15px;
}

.corporate-cards .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 10px;
}

.corporate-cards .select-styled:hover {
    background-color: white;
}

.corporate-cards .select-styled:active,
.corporate-cards .select-styled.active {
    background-color: white;
}

.corporate-cards .select-styled:active:after,
.corporate-cards .select-styled.active:after {
    top: 5px;
    border-color: transparent transparent black transparent;
}

.corporate-cards .select-options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 2px 0px;
    list-style: none;
    background-color: white;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%);
}

.corporate-cards .select-options li {
    margin: 0;
    padding: 6px 0;
    text-indent: 16px;
    /* border-top: 1px solid #19467a ; */
}

.corporate-cards .select-options li:hover {
    color: black;
    background: #fff;
}

.corporate-cards .select-options,
.corporate-cards .select-hidden,
.corporate-cards .select-options li[rel="hide"],
#franchise_roles_div,
.corporate-cards #reply-show,
.corporate-cards #approved-show,
.corporate-cards #pending-show,
.corporate-cards #reject-show {
    display: none;
}

.corporate-cards .mid-content textarea {
    margin: 0px;
    width: 100%;
    height: 464px;
    border: 1px solid lightgray !important;
}

.corporate-cards .control-area {
    margin-left: auto;
    margin-top: 10px;
}

.action-button:not(:last-shild):after {
    content: " | "
}


.corporate-cards .content-wrapper .card {
    border: solid 1px black;
    margin: 10px 20px;
}

.corporate-cards td.userImageCell {
    width: 96px !important;
}

.corporate-cards .card .card-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #19467a;
    border: 0px !important;
    height: 42px;
}

.corporate-cards textarea {
    margin: 10px 20px;
}

.corporate-cards .dropdown-label {
    font-size: 12px;
}

.corporate-cards input,
.corporate-cards select {
    margin-left: auto;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    color: black;
}

.corporate-cards select {
    color: black;
    font-size: 12px;
}

.corporate-cards .input-group-text {
    height: 30px;
    width: 40px;
    border-radius: 0px;
}

.corporate-cards .status {
    background-color: #18c968;
    width: 100%;
}

.corporate-cards .btn-status {
    color: white !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.corporate-cards .information-txt {
    font-size: 14px;
    font-weight: 500;
    padding-left: 22px !important;
}

.corporate-cards .btn-link {
    font-weight: 500 !important;
    font-size: 15px !important;
    text-decoration: underline;
}

.corporate-cards td b {
    font-size: 14px;
    text-align: right;
}

.corporate-cards .table {
    margin-bottom: 0px !important;
}

.corporate-cards td .btn {
    padding: 0 9px !important;
}

.corporate-cards .box {
    display: flex;
    margin-bottom: 10px;
}

.corporate-cards label.box-heading {
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.corporate-cards .box-input {
    width: 100%;
    display: flex;
}

.corporate-cards .box-icon {
    width: 20px;
    height: 100%;
    background-color: gray;
}

.corporate-cards td .btn-link {
    font-size: 14px !important;
    text-decoration: none;
}

.corporate-cards .dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.corporate-cards .dropdown .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    z-index: 222;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    overflow-y: scroll;
}

.corporate-cards .dropdown .dropdown-option {
    display: block;
    padding: 4px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.corporate-cards .dropdown .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
}

.corporate-cards .dropdown .dropdown-label:before {
    content: "";
    float: right;
}

.corporate-cards .dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
    overflow-x: hidden;
    overflow-y: hidden;
}

.corporate-cards .dropdown-list a {
    margin-left: 17px;
}

.corporate-cards .dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    display: flex;
    text-decoration: none;
    float: left;
    width: 100%;
    transition-delay: 0.2s;
    margin: 0px;
}

.corporate-cards .dropdown.on .dropdown-label:before {
    content: "";
}

.corporate-cards .dropdown [type="checkbox"] {
    position: relative;
    top: -4px;
    margin-right: 4px;
    margin-left: 0px !important;
}

.corporate-cards #get_otp {
    color: white;
    position: absolute;
    margin-top: -43px;
    margin-left: 147px;

    height: 33px;
    background-color: #2e3092;
}

.corporate-cards #verifyotp .a {
    align-items: center;
    color: blue;
    color: white;
    font-size: 16px;
    position: absolute;
    margin-top: -13px;
    margin-left: -75px;
    border-radius: 5px;
    padding: 2px 19px;
    /* height: 33px; */
    background-color: #2e3092;
}

.corporate-cards .contactsubmitbtn4 {
    color: white;
    position: absolute;
    margin-top: -43px;
    margin-left: 380px;
    width: 105px;
    font-size: 17px;
    height: 33px;
    background-color: #2e3092;
}

.corporate-cards .btn-primary {
    color: #fff;
    background-color: #2e3092;
    width: 110px;
    border-color: #2e3092;
}

.corporate-cards #profile_img {
    margin-right: -48px !important;
}

.corporate-cards select option {
    width: 250px !important;
    height: 10px !important;
}

.corporate-cards .bootstrap-select.btn-group .dropdown-menu.open {
    width: 250px !important;
    overflow: auto !important;
    background-color: red !important;
}

.corporate-cards .btn-new {
    background-color: #626f7c !important;
}

.corporate-cards .select-hidden {
    visibility: hidden;
    padding-right: 10px;
}

.corporate-cards .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    flex: 1;
    color: black;
}

.corporate-cards .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #ced4da;
    padding: 2px 15px;
}

.corporate-cards .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 10px;
}

.corporate-cards .select-styled:hover {
    background-color: white;
}

.corporate-cards .select-styled:active,
.corporate-cards .select-styled.active {
    background-color: white;
}

.corporate-cards .select-styled:active:after,
.corporate-cards .select-styled.active:after {
    top: 5px;
    border-color: transparent transparent black transparent;
}

.corporate-cards .select-options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 2px 0px;
    list-style: none;
    background-color: white;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%);
}

.corporate-cards .select-options li {
    margin: 0;
    padding: 6px 0;
    text-indent: 16px;
    /* border-top: 1px solid #19467a ; */
}

.corporate-cards .select-options li:hover {
    color: black;
    background: #fff;
}

.corporate-cards .select-options,
.corporate-cards .select-hidden,
.corporate-cards .select-options li[rel="hide"],
#franchise_roles_div,
.corporate-cards #reply-show,
.corporate-cards #approved-show,
.corporate-cards #pending-show,
.corporate-cards #reject-show {
    display: none;
}

.corporate-cards .mid-content textarea {
    margin: 0px;
    width: 100%;
    height: 464px;
    border: 1px solid lightgray !important;
}

.corporate-cards .control-area {
    margin-left: auto;
    margin-top: 10px;
}

.action-button:not(:last-shild):after {
    content: " | "
}

.profile-noti {
    padding: 0;
    border-radius: 10px;
    width: 220px;
}


.profile-box {
    width: 100%;
    float: left;
    border-bottom: 1px solid #d8d8da;
    background: #18c968 !important;
    text-align: center;
    padding: 10px 0 10px 0;
    border-top: 0;
    box-shadow: 0 6px 14px 2px rgb(0 0 0 / 20%);
    border-radius: 10px 10px 0px 0px;
}

.profile-box img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50px;
}

.profile-dropdown ul {
    list-style: none;
    padding: 0;
}

.profile-dropdown .dropdown-content ul li:nth-child(1) {
    border-top: 0px;
}

.last_rad {
    background: rgb(25, 70, 122) !important;
    border-radius: 0px 0px 10px 10px;
}

.last_rad a {
    color: #fff !important;
}

.profile-dropdown .dropdown-content ul li {
    list-style-type: none;
    border-top: 1px solid #a9a8a5;
    width: 100%;
    float: left;
    margin-left: 0;
    font-weight: 700;
}

.profile-dropdown .dropdown-content ul li a {
    padding: 7px 15px;
    float: left;
    width: 100%;
    font-size: 20px;
}

.profile-dropdown .dropdown-content ul li a i {
    float: left;
    margin-right: 10px;
}

.profile-dropdown .dropdown-content ul li a i,
.profile-dropdown .dropdown-content ul li a span {
    float: left;
    line-height: 16px;
    font-size: 14px;
    margin-left: 5px;
}
#DataTables_Table_0_wrapper .dt-layout-row:first-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
